@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

.luckiest-guy-regular {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
  }

body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", regular;
}

  header {
    display: flex;
    flex-direction: column;
    background-image: url('./images/Header-Background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100vw;
    padding: 88px 0;
  }

  h1 {
    font-family: "Luckiest Guy", cursive;
    font-size: 2.5rem;
    color: #fff;
    text-align: left;
    padding-bottom: 48px;
    margin: 0 24px;
  }
  
  p {
    font-size: 1rem;
    color: #fff;
    text-align: left;
    margin: 0 24px;
  }

  .header_buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 24px;
    gap: 24px;
  }
  
  .header_buttons_download {
    background-color: #fff;
    color: #23272A;
    text-decoration: none;
  }
  
  .header_buttons_open {
    background-color: #23272A;
    color: #fff;
    text-decoration: none;
  }
  
  .header_buttons_download, .header_buttons_open {
    border-radius: 50px;
    padding: 18px 24px;
    margin: 0 24px;
    text-align: center;
  }

  .header_buttons_download:hover, .header_buttons_open:hover {
    cursor: pointer;
    color:cornflowerblue;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
  }

/* SECTIONS */

.section_info_clear, .section_info_gray, .section_info_final {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 2vw;
}

.section_info_clear {
  background-color: #fff;
}

.section_info_gray {
  background-color: #F6F6F6;
}

.section_info_final {
  background-color: #F6F6F6;
}

.section_info_clear img, .section_info_gray img {
  width: 80vw;
}

.section_info_final img {
  width: 80vw;
  margin-bottom: 36px;
}

.section_info_clear .section_text,
.section_info_gray .section_text {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.section_info_final .section_text {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 24px;
}

.section_info h2 {
  font-size: 1.5rem;
  color: black;
  text-align: left;
}

.section_info_final h3 {
  font-size: 2rem;
  font-family: "Luckiest Guy", cursive;
  color: black;
  text-align: left;
}

.section_paragraph {
  font-size: 1rem;
  color: black;
}

@media screen and (min-width: 768px) {
  h1, p {
    text-align: center;
    margin: 0 24vw;
  }

  .header_buttons {
    flex-direction: row;
  }

  .header_buttons_download, .header_buttons_open {
    padding: 18px 64px;
  }
  
  h1 {
    font-size: 3rem;
  }
  
  .section_info_clear {
    display: flex;
    flex-direction: row;
    padding: 48px 8vw 40px 8vw;
    justify-content: center;
  }

  .section_info_gray {
    display: flex;
    flex-direction: row-reverse;
    padding: 48px 8vw 40px 8vw;
    justify-content: center;
  }

  .section_info_final .section_text {
    display: block;
    flex-direction: column;
    text-align: center;
    margin: 0 20vw;
  }

  .section_info_clear img, .section_info_gray img {
    width: 50vw;
  }

  .section_info_final img {
    width: 60vw;
  }

  .section_text h2 {
    font-size: 1.5rem;
  }

  .section_text h3 {
    font-size: 3.5rem;
    text-align: center;
  }

  .section_info_final .section_text .section_paragraph {
    text-align: center;
    max-width: 60vw;
  }
}

@media screen and (min-width: 1366px) {
  h1 {
    font-size: 4rem;
  }
  
  .section_text h2 {
    font-size: 2.5rem;
  }

  .section_info_clear img, .section_info_gray img {
    width: 40vw;
  }
}

@media screen and (min-width: 1920px) {
  h1 {
    font-size: 6rem;
  }
  
  .section_text h2 {
    font-size: 3.5rem;
  }

  .section_info_clear img, .section_info_gray img {
    width: 30vw;
  }

  .section_info_clear, .section_info_gray {
    padding: 48px 20vw 40px 20vw;
  }
}

footer {
  background-color: #23272A;
  background-image: url('./images/discord_logo.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 20px;
}